# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Data
data_raw/
data_parsed/
index/
chat_logs/
*.png

# OS
.DS_Store
Thumbs.db

# Notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env